[Unit]
Description=dotnet web application

[Service]
ExecStart=/usr/bin/dotnet /opt/dotnet/src/ifc_web_viewer/bin/publish/ifc_web_viewer.dll
WorkingDirectory=/opt/dotnet/src/ifc_web_viewer
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-web-application
User=root
Environment=ASPNETCORE_URLS=http://127.0.0.1:5000
Environment=ASPNETCORE_ENVIRONMENT=Development
Environment=DOTNET_USE_POLLING_FILE_WATCHER=1

[Install]
WantedBy=multi-user.target
